<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="Img/Logo.png" />
    <link rel="stylesheet" href="Css/Main.css">
    <link rel="stylesheet" href="Css/Home.css">
    <link rel="stylesheet" href="Css/Toast.css">
    <title>ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</title>
</head>

<body>
<% let ThisDay=new Date().toJSON().slice(0, 10) %>
<% let ThisMonth=new Date().toJSON().slice(0, 7) %>
<% let ThisYear = new Date().toJSON().slice(0, 4) %>
<% let TxtZero = "-0" %>
<% if (new Date().getMonth() > 9) {TxtZero = "-"} %>
<% let AfterMonth = ThisYear + TxtZero + new Date().getMonth() %>

<% let Receipts = MainData.GeneralData %>
<% let ToDaySalse=0,ToDayPurchases=0,ToDayExpenses=0,ToDayRevenues=0 %>
<% let SumCollect=0,SumPayment=0,BalanceCash=0, MonthExpenses=0,MonthRevenues=0 %>
<% let BetweenSales=0,PercentSalse=100,TxtSalse="",BalanceCustomers=0 %>
<% let MonthSalse=0,AfterMonthSalse=0,SalesCash=0,SalesForward=0,NuSalesCash=0,NuSalesForward=0 %>
<% let MonthPurchases=0,AfterMonthPurchases=0,PurchasesCash=0 ,PurchasesForward=0,NuPurchasesCash=0 ,NuPurchasesForward=0 %>

<% Receipts.forEach(Receipt=> {
    <!-- ูุญุณุงุจ ุงููุนุงููุงุช ุงูููููุฉ -->
    if(Receipt.DocDate.slice(0, 10) === ThisDay){
        if (Receipt.Statment === "ุชุฃุฌูุฑ ููุฏู" || Receipt.Statment =="ุชุฃุฌูุฑ ุขุฌู" ){ToDaySalse += Receipt.Total}
        if (Receipt.Statment === "ูุฑุชุฌุน ุชุฃุฌูุฑ") {ToDaySalse -=Receipt.Total}
        if (Receipt.Statment === "ุงุณุชุฆุฌุฃุฑ ููุฏู" || Receipt.Statment=="ุงุณุชุฆุฌุฃุฑ ุขุฌู") {ToDayPurchases += Receipt.Total}
        if (Receipt.Statment === "ูุฑุชุฌุน ุงุณุชุฆุฌุฃุฑ") {ToDayPurchases-= Receipt.Total}
        if (Receipt.Debit === "ุงููุตุงุฑูู") {ToDayExpenses += Receipt.Total}
        if (Receipt.Credit === "ุงูุงูุฑุงุฏุงุช") {ToDayRevenues +=Receipt.Total}
    }
    <!-- ูุญุณุงุจ ูุนุงููุงุช ุงูุดูุฑ ุงูุญุงูู -->
    if(Receipt.DocDate.slice(0, 7) === ThisMonth){
        <!-- ูุญุณุงุจ ุชุฃุฌูุฑ ุงูุดูุฑ ุงูุญุงูู -->
        if (Receipt.Statment === "ุชุฃุฌูุฑ ููุฏู"){SalesCash+=Receipt.Total;NuSalesCash++}
        if (Receipt.Statment === "ุชุฃุฌูุฑ ุขุฌู" ){SalesForward+=Receipt.Total;BalanceCustomers+=Receipt.Total;NuSalesForward++}
        if (Receipt.Statment === "ูุฑุชุฌุน ุชุฃุฌูุฑ ููุฏู") {SalesCash -=Receipt.Total}
        if (Receipt.Statment === "ูุฑุชุฌุน ุชุฃุฌูุฑ ุขุฌู") {SalesForward -=Receipt.Total;BalanceCustomers-=Receipt.Total}
        <!-- ูุญุณุงุจ ุงุณุชุฆุฌุฃุฑ ุงูุดูุฑ ุงูุญุงูู -->
        if (Receipt.Statment === "ุงุณุชุฆุฌุฃุฑ ููุฏู"){PurchasesCash+=Receipt.Total;NuPurchasesCash++}
        if (Receipt.Statment === "ุงุณุชุฆุฌุฃุฑ ุขุฌู" ){PurchasesForward+=Receipt.Total;BalanceCustomers+=Receipt.Total;NuPurchasesForward++}
        if (Receipt.Statment === "ูุฑุชุฌุน ุงุณุชุฆุฌุฃุฑ ููุฏู") {PurchasesCash -=Receipt.Total}
        if (Receipt.Statment === "ูุฑุชุฌุน ุงุณุชุฆุฌุฃุฑ ุขุฌู") {PurchasesForward -=Receipt.Total;BalanceCustomers-=Receipt.Total}

        if (Receipt.Debit === "ุงููุตุงุฑูู" ) {MonthExpenses +=Receipt.Total}
        if (Receipt.Credit === "ุงูุงูุฑุงุฏุงุช" ) {MonthRevenues +=Receipt.Total}

    }
    <!-- ูุญุณุงุจ ุชุฃุฌูุฑ ุงูุดูุฑ ุงูุณุงุจู -->
    if(Receipt.DocDate.slice(0, 7) === AfterMonth){
        if (Receipt.DocType === "ุชุฃุฌูุฑ" ){AfterMonthSalse += Receipt.Total ;}
        if (Receipt.DocType.includes("ูุฑุชุฌุน ุชุฃุฌูุฑ")) {AfterMonthSalse -=Receipt.Total}
    }
    <!-- ูุญุณุงุจ ุงูููุจูุถุงุช ูุงููุฏููุนุงุช  -->
    if (Receipt.Debit === "ุงูุตูุฏูู" ) {SumCollect +=Receipt.Total}
    if (Receipt.Credit === "ุงูุตูุฏูู" ) {SumPayment +=Receipt.Total}
}) %>

<% MonthSalse = SalesCash+SalesForward %>
<% MonthPurchases = PurchasesCash+PurchasesForward %>
<% BalanceCash = SumCollect - SumPayment %>

<% if (MonthSalse > AfterMonthSalse && AfterMonthSalse != 0 ) { 
     PercentSalse = (((MonthSalse - AfterMonthSalse)/AfterMonthSalse )*100).toFixed(0)
     TxtSalse ="ุงุฏุงุก ุชุฃุฌูุฑู ุงูุถู ุจูุณุจุฉ " + PercentSalse + "% ูู ุชุฃุฌูุฑ ุงูุดูุฑ ุงููุงุถู" 
     BetweenSales = MonthSalse - AfterMonthSalse 
 }
 else if(MonthSalse <= AfterMonthSalse && AfterMonthSalse != 0){
     PercentSalse= ((MonthSalse / AfterMonthSalse)*100).toFixed(0) 
     TxtSalse ="ุงุฏุงุก ุชุฃุฌูุฑู ููุซู " + PercentSalse + "% ูู ุชุฃุฌูุฑ ุงูุดูุฑ ุงููุงุถู" 
     BetweenSales =  AfterMonthSalse - MonthSalse 
 } %>

<% if (PercentSalse >= 200) {
   let Multiples = (PercentSalse / 100).toFixed(0)
    if (Multiples == 2) {TxtSalse ="ุงุฏุงุก ุชุฃุฌูุฑู ุงูุถู ุจุถุนููู ูู ุชุฃุฌูุฑ ุงูุดูุฑ ุงููุงุถู "}
    else if (Multiples > 2) {TxtSalse = " ุฃุฏุงุก ุชุฃุฌูุฑู ุฃูุถู ุจ  " + Multiples +" ุฃุถุนุงู ูู ุชุฃุฌูุฑ ุงูุดูุฑ ุงูุณุงุจู "}
} %>

    <div class="Layout-body active <% if (User.DarkMood === true) { %> Dark <% } %>">
            <%- include('Partials/Menu.ejs'); -%>
            <div class="Layout-Container">
                <div style="display: none;">
                    <%- include('Partials/DetailsCompany.ejs'); -%>
                </div>
                <div class="Row grid-2A">
                    <div class="card Congratulations">
                        <h1 class="card-title">ููุฑูุญูุจูุง <%= User.Username %> ๐โฅ</h1>
                        <p class="card-txt">ูููุง ููู ูููุฉ ุชุฃุฌูุฑ ุงูุดูุฑ ุงูุญุงูู ุจุงูุฏููุงุฑ</p>
                        <span class="PriceOfDollar" id="<%= MonthSalse %>">0$</span>
                        <h4 class="ToDayDollar">ุณุนุฑ ุงูุฏููุงุฑ ุงูููู</h4>
                        <div>
                            <img src="Img/light.png" />
                            <img src="Img/userImg.png" alt=" " />
                        </div>
                    </div>

                    <div class="card Transactions">
                        <h1 class="card-title">ุงููุนุงููุงุช</h1>
                        <p class="card-txt">ุงุฌูุงูู ุงููุนุงููุงุช ููุฐุง ุงูููู</p>

                        <div class="Row grid-4">
                            <div class="card-item Primary">
                                <i class='item-icon bx bx-cart'></i>
                                <div class="center">
                                    <p>ุงูุชุฃุฌูุฑ</p>
                                    <h3><%= ToDaySalse %></h3>
                                </div>
                            </div>
                            <div class="card-item Teal">
                                <i class='item-icon bx bxs-cart'></i>
                                <div class="center">
                                    <p>ุงูุงุณุชุฆุฌุฃุฑ</p>
                                    <h3><%= ToDayPurchases %></h3>
                                </div>
                            </div>
                            <div class="card-item Yellow">
                                <i class='item-icon bx bx-dollar'></i>
                                <div class="center">
                                    <p>ุงููุตุงุฑูู</p>
                                    <h3><%= ToDayExpenses %></h3>
                                </div>
                            </div>
                            <div class="card-item Blue">
                                <i class='item-icon bx bx-dollar'></i>
                                <div class="center">
                                    <p>ุงูุงูุฑุงุฏุงุช</p>
                                    <h3><%= ToDayRevenues %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Row grid-3">
                    <div class="card sales-cart">
                        <div class="cecrel">
                            <div class="value" id="<%= PercentSalse %>">0%</div>
                        </div>
                        <h1 class="card-title">ุงูุชุฃุฌูุฑ</h1>
                        <h2 class="between-sales"><%= MonthSalse %></h2>
                        <p class="card-txt"><%= TxtSalse %></p>

                        <div class="card-body">
                            <div class="card-item Primary">
                                <i class='item-icon bx bxs-bar-chart-alt-2'></i>
                                <div class="center">
                                    <h3>ุงุฌูุงูู ุงูุชุฃุฌูุฑ</h3>
                                    <p>ุงูุชุฃุฌูุฑ</p>
                                </div>
                                <div class="left" style="--width-percent1:100%">
                                    <h3><%= MonthSalse %></h3>
                                    <div class="line-graph"></div>
                                </div>
                            </div>
                            <div class="card-item Teal">
                                <i class='item-icon bx bxs-bar-chart-alt-2'></i>
                                <div class="center">
                                    <h3>ุงูุชุฃุฌูุฑ ุงูููุฏู</h3>
                                    <p>%<%= ((SalesCash/MonthSalse)*100).toFixed(0) %> ูู ุงูุชุฃุฌูุฑ</p>
                                </div>
                                <div class="left" style="--width-percent2:<%= ((SalesCash/MonthSalse)*100).toFixed(0) %>%">
                                    <h3><%= SalesCash %></h3>
                                    <div class="line-graph"></div>
                                </div>
                            </div>
                            <div class="card-item Sky">
                                <i class='item-icon bx bxs-bar-chart-alt-2'></i>
                                <div class="center">
                                    <h3>ุงูุชุฃุฌูุฑ ุงูุขุฌู</h3>
                                    <p>%<%= ((SalesForward/MonthSalse)*100).toFixed(0) %> ูู ุงูุชุฃุฌูุฑ</p>
                                </div>
                                <div class="left" style="--width-percent3:<%= ((SalesForward/MonthSalse)*100).toFixed(0) %>%">
                                    <h3><%= SalesForward %></h3>
                                    <div class="line-graph"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h1 class="card-title">ูุณุชุญูุงุช ูุงูุชุฒุงูุงุช ุงูุดูุฑ</h1> 
                        <p class="card-txt">ููุงุนูุฏ ุงูุงุณุชุญูุงู ุฎูุงู ุงูุดูุฑ ุงูุญุงูู</p> 
                        <div class="card-body">
                            <% MainData.TimeCustomersData.forEach(Time => { %>
                                <% if(Time.DocDate.slice(0, 7) === ThisMonth){ %>
                                <div class="card-item">
                                    <i class='item-icon bx bx-dollar'></i>
                                    <div class="center">
                                        <h3><%= Time.Name %></h3>
                                        <p><%= Time.DocDate %></p>
                                    </div>
                                    <div class="left">
                                        <h3><%= Time.Total %></h3>
                                        <p><%= Time.DocType %></p>
                                    </div>
                                </div>
                                <% }; %>
                           <% }); %>
                           <% MainData.RevenuesData.forEach(Revenue => { %>
                                <% if(Revenue.Type.includes("ุดูุฑู") && Revenue.AmountType.includes("ุซุงุจุชุฉ") && Revenue.Status === "TRUE" ){ %>
                                <div class="card-item">
                                    <i class='item-icon bx bx-dollar'></i>
                                    <div class="center">
                                        <h3><%= Revenue.Name %></h3>
                                        <p><%= Revenue.Type %></p>
                                    </div>
                                    <div class="left">
                                        <h3><%= Revenue.Amount %></h3>
                                        <p>ุงูุฑุงุฏ</p>
                                    </div>
                                </div>
                                <% }; %>
                           <% }); %>
                        </div>
                    </div>

                    <div class="card monthly">
                        <h1 class="card-title">ุงุญุตุงุฆูุงุช ุงูุดูุฑ</h1>
                        <div class="card-body">
                            <div class="Row grid-2">
                                <div class="card-item">
                                    <i class='item-icon bx bx-user'></i>
                                    <div class="center">
                                        <h3>
                                            <% let lengthCustomers=0%>
                                            <% MainData.CustomersData.forEach(Customer=> {
                                                if (Customer.CreatedAt.toJSON().slice(0, 7) === ThisMonth && Customer.Status === "TRUE") {
                                                    BalanceCustomers += Customer.Balance
                                                    lengthCustomers++
                                                }
                                            }) %>
                                            <%= lengthCustomers %>
                                        </h3>
                                        <p>ุนุฏุฏ ุงูุนููุงุก</p>
                                    </div>
                                </div>
                                <div class="card-item">
                                    <i class='item-icon bx bx-dollar'></i>
                                    <div class=" center">
                                        <h3><%= BalanceCustomers %></h3>
                                        <p>ุฑุตูุฏ ุงูุนููุงุก</p>
                                    </div>
                                </div>
                            </div>

                            <div class="Row grid-2 ">
                                <div class="card-item">
                                    <i class='item-icon bx bx-receipt'></i>
                                    <div class="center">
                                        <h3><%= NuSalesCash + " ูุงุชูุฑุฉ " %></h3>
                                        <p>ุชุฃุฌูุฑ ููุฏู</p>
                                    </div>
                                </div>
                                <div class="card-item">
                                    <i class='item-icon bx bx-receipt'></i>
                                    <div class=" center">
                                        <h3><%= NuSalesForward + " ูุงุชูุฑุฉ " %></h3>
                                        <p>ุชุฃุฌูุฑ ุขุฌู</p>
                                    </div>
                                </div>
                            </div>
                            <div class="Row grid-2 ">
                                <div class="card-item">
                                    <i class='item-icon bx bx-receipt'></i>
                                    <div class="center">
                                        <h3><%= NuPurchasesCash + " ูุงุชูุฑุฉ " %></h3>
                                        <p>ุงุณุชุฆุฌุฃุฑ ููุฏู</p>
                                    </div>
                                </div>
                                <div class="card-item">
                                    <i class='item-icon bx bx-receipt'></i>
                                    <div class=" center">
                                        <h3><%= NuPurchasesForward + " ูุงุชูุฑุฉ " %></h3>
                                        <p>ุงุณุชุฆุฌุฃุฑ ุขุฌู</p>
                                    </div>
                                </div>
                            </div>
                            <div class="Row grid-2 ">
                                <div class="card-item">
                                    <i class='item-icon bx bx-dollar'></i>
                                    <div class="center">
                                        <h3><%= MonthExpenses %></h3>
                                        <p>ุงุฌูุงูู ุงููุตุงุฑูู</p>
                                    </div>
                                </div>
                                <div class="card-item">
                                    <i class='item-icon bx bx-dollar'></i>
                                    <div class=" center">
                                        <h3><%= MonthRevenues %></h3>
                                        <p>ุงุฌูุงูู ุงูุงูุฑุงุฏุงุช</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Row grid-2B">
                    <div class="card coll-pay">
                        <div class="card">
                            <h1 class="card-title">ุงูููุจูุถุงุช</h1>
                            <div class="card-body Collect">
                                <% let LengthCollect =0 %>
                                <% Receipts.sort((A, Z) => new Date(Z.CreatedAt) - new Date(A.CreatedAt)) %>
                                <% Receipts.forEach(Receipt => { %>
                                    <%  if (Receipt.Debit === "ุงูุตูุฏูู" && LengthCollect < 5) { %>
                                       <%  LengthCollect++ %>
                                        <div class="card-item">
                                            <i class='item-icon bx bx-money'></i>
                                            <div class="center">
                                                <h3><%= Receipt.DocType %></h3>
                                                <p><%= Receipt.Statment %></p>
                                            </div>
                                            <div class="left" >
                                                <h3>+ <%= Receipt.Total %></h3>
                                            </div>
                                        </div>
                                <% }});%>
                            </div>
                        </div>

                        <div class="card">
                            <h1 class="card-title">ุงููุฏููุนุงุช</h1>
                            <div class="card-body Payment">
                                <% let LengthPayment =0 %>
                                <% Receipts.forEach(Receipt => { %>
                                   <% if (Receipt.Credit === "ุงูุตูุฏูู" && LengthPayment < 5) { %>
                                       <% LengthPayment++ %>
                                        <div class="card-item">
                                            <i class='item-icon bx bx-money'></i>
                                            <div class="center">
                                                <h3><%= Receipt.DocType %></h3>
                                                <p><%= Receipt.Statment %></p>
                                            </div>
                                            <div class="left" >
                                                <h3>- <%= Receipt.Total %> </h3>
                                            </div>
                                        </div>
                                <% }})%>
                            </div>
                        </div>
                    </div>

                    <div class="card summary">
                        <div class="card">
                            <div class="card-item Primary">
                                <i class='item-icon bx bxs-wallet'></i>
                                <div class="center">
                                    <h3>ุฑุตูุฏ ุงูุฎุฒูุฉ </h3>
                                    <p>ุงูููุจูุถุงุช - ุงููุฏููุนุงุช</p>
                                </div>
                                <div class="left" >
                                    <h3><%= BalanceCash %></h3>
                                </div>
                            </div>
                            <div class="Row grid-2 mrg-t-25">
                                <div class="card-item Collect">
                                    <i class='item-icon bx bx-money'></i>
                                    <div class="center">
                                        <h3><%= SumCollect %></h3>
                                        <p>ุงุฌูุงูู ุงูููุจูุถุงุช</p>
                                    </div>
                                </div>
                                <div class="card-item Payment">
                                    <i class='item-icon bx bx-money'></i>
                                    <div class=" center">
                                        <h3><%= SumPayment %></h3>
                                        <p>ุงุฌูุงูู ุงููุฏููุนุงุช</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-item Primary">
                                <i class='item-icon bx bxs-cart'></i>
                                <div class="center">
                                    <h3>ุงุฌูุงูู ุงูุงุณุชุฆุฌุฃุฑ </h3>
                                    <p>ุงูููุฏู + ุงูุขุฌู</p>
                                </div>
                                <div class="left" >
                                    <h3><%= MonthPurchases %></h3>
                                </div>
                            </div>
                            <div class="Row grid-2 mrg-t-25">
                                <div class="card-item">
                                    <i class='item-icon bx bxs-cart'></i>
                                    <div class="center">
                                        <h3><%= PurchasesCash %></h3>
                                        <p>ุงุณุชุฆุฌุฃุฑ ุงูููุฏู</p>
                                    </div>
                                </div>
                                <div class="card-item">
                                    <i class='item-icon bx bxs-cart'></i>
                                    <div class=" center">
                                        <h3><%= PurchasesForward %></h3>
                                        <p>ุงุณุชุฆุฌุฃุฑ ุขุฌู </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Row grid-2A charts">
                    <div class="card">
                        <p class="card-title">ุงูุดูู ุงูุชูุถูุญู ููุดูุฑ ุงูุญุงูู  </p>
                        <div id="chart1"></div>
                    </div>
                    <div class="card">
                        <p class="card-title">ุงูุดูู ุงูุชูุถูุญู ููุดูุฑ ุงูุญุงูู  </p>
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>
            <div class="Toasts"></div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>

    <script src="Js/1-Main.js"></script>
    <script src="Js/2-Notifications.js"></script>
    <script src="Js/3-Home.js"></script>

</body>

</html>